@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter.ttf");
}

html {
  scroll-behavior: smooth;
}

.inter {
  font-family: Inter;
}

/* removes focus outlines on mouse clicks */
*:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*::after:focus:not(:focus-visible) {
  outline: none;
}

.link {
  @apply text-blue-500;
  @apply transition;
  @apply duration-75;
  @apply ease-in-out;
}

.link:hover {
  @apply text-blue-400;
}

.text-blue {
  color: dodgerblue;
}

.padding-left {
  padding-left: 1px;
}

.right-border {
  padding-right: 20px;
  border-right: 0.5px solid #e0e0e0;
}

.right-space {
  padding-right: 20px;
}

.left-space {
  padding-left: 20px;
}

.discord:hover {
  color: #7289da;
  transition: all 0.3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.twitter:hover {
  color: #1DA1F2;
  transition: all 0.3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.left {
  text-align: left;
}

.github:hover {
  color: #000;
  transition: all 0.3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.under-space {
  padding-bottom: 20px;
}

.con_card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .grid {
    width: 50%;
    flex-direction: column;
  }
}

@keyframes move {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}
